.component {
    height: calc(100% - 64px);
    top: 64px;
    position: fixed;
    z-index: 1;
    display: flex;
}

.component_tab_wrap {
    height: 100%;
    width: 24px;
    position: relative;
}

.component_side_bar {
    padding-top: 6px;
    background: rgb(0 0 0 / 85%);
    border-right: 1px solid rgb(255 255 255 / 16%);
    box-shadow: 0 0 16px 0 black;
    height: 100%;
    width: 0px;
    transition: width 0.2s ease;
    backdrop-filter: blur(24px);
    overflow: hidden;
}

.Genre {
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 11px;
    opacity: 0.35;
    letter-spacing: 2px;
    padding: 4px 0 4px 16px;
    white-space: nowrap;
}

.Genre:hover {
    opacity: 1;
}

.Genre--selected {
    opacity: 1 !important;
    background: rgb(0,155,255);
    background: linear-gradient(90deg, #99cbff9c 0%, #66b0ff80 10%, #238dff5e 60%, rgba(0,142,255,0) 100%);
}

.component_side_bar--open {
    width: 180px;
}

.component_tab {
    opacity: 0.8;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 64px;
    width: 16px;
    background: rgb(0 0 0 / 85%);
    border-radius: 0 4px 4px 0;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    outline: 1px rgb(255 255 255 / 10%) solid;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0 black;
    transition: opacity 0.2s ease;
}

.component_tab--open {
    opacity: 0;
}

.component_tab:hover {
/*    opacity: 1;
    box-shadow: 0px 0px 12px 0 rgb(42 117 255 / 40%), 1px 1px 8px 0 black;*/
}

.component_tab > div {
    box-shadow: 0 0 9px 1px #2a75ffe0;
    background: rgb(255 255 255 / 60%);
    height: 80%;
    width: 1px;
}

.component_side_bar_sort {
    margin-top: 8px;
    padding: 8px 16px;
    display: flex;
    border-top: 1px solid rgb(255 255 255 / 10%);
    font-size: 12px !important;
    gap: 8px;
}

.component_side_bar_sort:hover select {
    opacity: 0.75 !important;
}

.component_side_bar_sort>span {
    opacity: 0.35;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.component_side_bar_sort>select {
    opacity: 0.35;
    background: transparent;
    border: none;
    color: white;
    flex: 1;
    transform: translateY(1px);
    width: 84px;
    cursor: pointer;
}

.component_side_bar_sort>select:focus {
    border: none;
    outline: none;
}

.component_side_bar_sort>select * {
    background: rgb(6 6 5) !important;
}
