.component {
    overflow: hidden;
    transform: translate(8px, 5px);
    transition: width 0.2s ease-in-out; 
}

.search_wrap {
    opacity: 0.6;
    display: flex;
    border-radius: 24px;
    border: 1px solid;
    border-color: #ffffff00;
    transition: border-color 0.2s ease-in-out, opacity 0.14s ease-in-out;
    padding: 3px 6px 4px 12px;
    justify-content: space-between;
    float: right;
    gap: 4px;
}

.search_wrap--open {
    border-color: #ffffff61;
    opacity: 1;
}

.search_wrap--open>svg {
    opacity: 0.6;
}

.search_wrap--closed {
    border-color: transparent;
}

.search_wrap:hover {
    opacity: 1;
}


input {
    background: transparent;
    background-color: transparent;
    color: white;
    font-size: 12px;
    padding: 0;
    outline: none;
    border: none;
    width: 150px;
}
