@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar test">
            <NavMenu />
        </div>


        <main style="background-color: @Background">
            @if (!this.Fullpage)
            {
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            } else
            {
                <div class="overlay_Reflection"></div>
            }

            <article class="@(this.Fullpage ? "fullpage p-0" : "content px-4")">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>


@code {
    public bool Fullpage { get; set; } = false;
    public string Background { get; set; } = "none";

    public void Update()
    {
        if (Background is null)
            Background = "none";
        StateHasChanged();
    }

}