.Search_Field_Icon {
    cursor: pointer;
    min-width: 17px;
    height: 17px;
    width: 17px;
    stroke: white;
    transform: translateY(1px)
}

.open {
    stroke: #ff9191 !important;
    opacity: 0.6;
}

.open:hover {
  opacity: 1;
}
