.no-gutters {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.Header {
    height: 64px;
    width: 100%;
    background: red;
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.875) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0px 12px 6px #000000f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_icons_left, .Header_icons_right {
    flex: 1;
    padding: 0 16px;
}

.Header_icons_right {
    display: flex;
    flex: 1;
    padding: 0 16px;
    fill: white;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
    transform: translateY(-4px)
}

.Header_icons_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 24px;
    overflow: hidden;
}

.Header_icon_wrap {
    transform: translateY(3px);
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 6px;
    cursor: pointer;
    position: relative;
    transition: opacity 0.14s ease-in-out;
}

.Header_icon_wrap--selected {
    opacity: 0.8;
}

.Header_icon_wrap:hover .Header_icon_wrap_glow,
.Header_icon_wrap:hover {
    opacity: 1;
}

.Header_icon_wrap_glow {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -54%);
    left: 50%;
    top: 50%;
    background: rgb(0,155,255, 0);
    background: radial-gradient(circle, #99cbffb3 10%, #66b0ff80 20%, #238dff5e 30%, transparent 55%);
}
/*text-shadow: 0 0 5px #228DFF, 0 0 10px #228DFF, 0 0 15px #228DFF, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;*/
.Header_icon_wrap > span {
    z-index: 1;
    color: white;
    font-size: 9px;
    letter-spacing: 2px;
}

.Header_logo {
    height: 70%;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.Gallery_none_found {
    text-align: center;
    color: #ffffff75;
    margin-top: 64px;
    font-style: italic;
}

.Gallery_none_found>button {
    color: #ffffff;
    background: rgba(0,170,255,0.2);
    border-radius: 50px;
    padding: 4px 18px;
    transition: background 0.14s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 12px 0px rgba(0,170,255,0.5);
}

.Gallery_none_found>button:hover {
    background: rgba(0,170,255,0.66);
    box-shadow: 0 0 12px 0px rgba(0,170,255,0.25);
}

.Gallery_item {
    aspect-ratio: 1/1.48;
    overflow: hidden;
    margin: 1px;
    position: relative;

/*    animation: fadeIn 1s ease-in-out;*/
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.Gallery_item_image {
    height: 100%;
    white-space: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /*    transform: scale(0);*/
}

.Gallery_item_image > span {
    color: white;
    font-weight: bold;
    background: #080808a3;
    text-align: center;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    max-width: 90%;
}

.Gallery_item_hover {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease-in;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.Gallery_item_hover:hover {
    opacity: 0.8;
}

.Gallery_item_hover_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.Gallery_item_hover_rating {
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gallery_item_title {
    color: black;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    padding: 0 10%;
    overflow-wrap: anywhere;
    font-weight: bold;
    font-size: 14px;
}

.Gallery_item_year {
    color: black;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    padding: 0 10%;
    overflow-wrap: anywhere;
    font-size: 14px;
}